
    <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>G-Coding</strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- End  Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="<%= VENDOR_URL %>/purecounter/purecounter.js"></script>
        <script src="<%= VENDOR_URL %>/aos/aos.js"></script>
        <script src="<%= VENDOR_URL %>/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="<%= VENDOR_URL %>/glightbox/js/glightbox.min.js"></script>
        <script src="<%= VENDOR_URL %>/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="<%= VENDOR_URL %>/swiper/swiper-bundle.min.js"></script>
        <script src="<%= VENDOR_URL %>/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="<%= JS_URL %>/main.js"></script>
    </body>
</html>